---
title: random haacks
layout: home
---

<div class="category-wrapper">
	<h3>Blog</h3>
	{% for post in site.categories.blog %}
		<div class="block" style="background-image:url('{{ post.thumbnail }}')" 
		onmouseover="jQuery(this).find('.post-title').show();"
		onmouseout="$('.post-title').hide();">
			<a href="{{ post.url }}"><span class="post-title" hidden>{{ post.title }}<span> </a>
		</div>
	{% endfor %}
</div>

<div class="category-wrapper">
	<h3>Projects</h3>
	{% for post in site.categories.projects %}
		<div class="block" style="background-image:url('{{ post.thumbnail }}')" 
		onmouseover="jQuery(this).find('.post-title').show();"
		onmouseout="$('.post-title').hide();">
			<a href="{{ post.url }}"><span class="post-title" hidden>{{ post.title }}<span> </a>
		</div>
	{% endfor %}
</div>
