---
title: random haacks
layout: home
---

<!-- Not sure this is doing anything -->
<div class='preloadedImages'></div>

<div class="category-wrapper">
		<h3>Blog<a href="rss.xml"><img class="rss" src="{{ site.baseurl }}/assets/images/rss_bw_small.png" onmouseover="jQuery(this).attr('src', '{{ site.baseurl }}/assets/images/rss_small.png');"
	onmouseout="jQuery(this).attr('src', '{{ site.baseurl }}/assets/images/rss_bw_small.png');"></a></h3>
	{% for post in site.categories.blog %}
		<div class="block" style="background-image:url('{{ post.thumbnail }}')" 
		onmouseover="jQuery(this).find('.post-title').show();"
		onmouseout="$('.post-title').hide();">
			<a href="{{ post.url }}"><span class="post-title" hidden>{{ post.title }}<span> </a>
		</div>
	{% endfor %}
</div>

<div class="category-wrapper">
	<h3>Projects</h3>
	{% for post in site.categories.projects %}
		<div class="block" style="background-image:url('{{ post.thumbnail }}')" 
		onmouseover="jQuery(this).find('.post-title').show();"
		onmouseout="$('.post-title').hide();">
			<a href="{{ post.url }}"><span class="post-title" hidden>{{ post.title }}<span> </a>
		</div>
	{% endfor %}
</div>