<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<link href="{{ site.baseurl }}/assets/css/screen.css" rel="stylesheet" type="text/css">
	<link href="{{ site.baseurl }}/assets/css/home.css" rel="stylesheet" type="text/css">
	<link href="{{ site.baseurl }}/assets/css/blog.css" rel="stylesheet" type="text/css">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<!--	<script src="{{ site.baseurl }}/assets/vendor/jquery-1.8.2.min.js"></script>-->
</head>

<body>

<a href="http://randomhaacks.com">
<div id="header">
	<div id="navbar">
		<div id="page-title">
			random haacks
		</div>
	</div>
</div>
</a>

<div id="page-wrapper">

{{ content }}

</div>

</body>
</html>