---
layout: default
---

<div id="page-wrapper-home">
	{{ content }}
</div>

<div id="footer">
	<div id="footer-wrapper">
		<div class="dictionary-entry" style="float:left">
			<div class="word">ran·dom</div>
			<div class="phonetic">/ˈrandəm/</div>
			<div class="part_of_speech">adjective</div>
			<div class="definition">
				<p><b>1.</b>&nbsp;&nbsp; strange, unexpected, or out of the ordinary</p>
				<p class="lighten">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Those dudes are just so <b>random</b>.</p>
			</div>
			<div class="definition">
				<p><b>2.</b>&nbsp;&nbsp; done in a casual manner often without method</p>
				<p class="lighten">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"The sample was chosen at <b>random</b>."</p>
			</div>
		</div>
		
		<div class="dictionary-entry" style="float:right">
			<div class="word">haack<sup>1</sup></div>
			<div class="phonetic">/hak/</div>
			<div class="part_of_speech">noun</div>
			<div class="definition">
				<p><b>1.</b>&nbsp;&nbsp; a huge geonerd</p>
				<p class="lighten">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Jill:&nbsp;&nbsp; That guy's such a <b>haack</b>.</p>
				<p class="lighten">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jack:&nbsp;&nbsp; I know, he really knows his OSM."</p>
			</div>
			<div class="definition">
				<p><b>2.</b>&nbsp;&nbsp; an unexpected and unprovoked act of dorkiness</p>
				<p class="lighten">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Those nerds undertook quite a <b>haack</b>."</p>
			</div>
		</div>
	</div>
</div>
